body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Amatic SC', cursive;
  color: #51c4d3;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #51c4d3;
  font-weight: bold;
}

h3 {
  color: #51c4d3;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  top: 50;
  left: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
}

.top {
  background-color: #caf7e3;
  position: relative;
  padding-top: 100px;
}

.profile {
  padding-top: 100px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.hello {
  margin-top: 0;
}

.cam {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.moto {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.out {
  color: #02475e;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

.contact-me {
  background-color: #caf7e3;
}

.bottom-container {
  background-color: #caf7e3;
}

.copyright {
  color: grey;
}
